<div class="row">
  <div class="col s12 well grey">
    <div class="row">
      <div class="col s12">
        <h5>{{question.date}}</h5>
        <p>{{question.content}}</p>
        <button {{action 'delete' question}}>Delete Question</button>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <img class="responsive-img" src={{question.image}}>
      </div>
    </div>
    <hr>
    <h4 class="center"> Answers </h4>
      {{#each question.answers as |answer|}}
        <hr>
        {{answer-tile answer=answer destroyAnswer="destroyAnswer"}}
      {{/each}}
    <br>
  </div>
  <hr>
</div>
