<div class="center">
  <h1>Questions and Answers</h1>

  <p>Where there's no such thing as a stupid question.</p>
  <hr>
</div>

{{#each model.questions as |question|}}
  {{question-tile question=question}}
{{/each}}

{{new-question saveQuestion2="saveQuestion3"}}

<h2>All Answers</h2>
  {{#each model.answers as |answer|}}
    <p>{{answer.author}} says: {{answer.content}} ({{answer.date}})</p>
  {{/each}}
