<div class="center">
  <h1>StackDrain</h1>
  <h5>Where there's no such thing as a stupid question.</h5>
  <hr>
</div>

{{#each model.questions as |question|}}
  {{question-tile question=question}}
{{/each}}

{{new-question saveQuestion2="saveQuestion3"}}



<!-- <h4 class="center">All Answers</h4>
  {{#each model.answers as |answer|}}
    <p>{{answer.author}} says: {{answer.content}} ({{answer.date}})</p>
  {{/each}} -->
