<h2 class="center">{{model.title}}</h2>
<h4 class="center">Asked by: {{model.author}}</h4>



{{question-detail question=model destroyQuestion="destroyQuestion" destroyAnswer="destroyAnswer"}}

{{update-question question=model update="update"}}
<hr>
{{new-answer saveAnswer="saveAnswer" question=model}}
